[Unit]
Description=Run Tyrion Service

[Service]
User=
WorkingDirectory=/var/local/mao-na-massa/hello-world-node
ExecStart=/bin/bash startup.sh
Restart=always

[Install]
WantedBy=multi-user.target