<div class="app-container">
    <img class="images" src="../images/page1.png" alt="This is iphone 8" />

    <img class="images" src="../images/page2.png" alt="Iphone 8 description" />

    <img class="images" src="../images/page3.png" alt="Iphone 8 camera" />

    <img class="images" src="../images/page4.png" alt="Iphone 8 screem" />

    <img class="images" src="../images/page5.png" alt="Iphone 8 wait for it" />
</div>
